<!DOCTYPE html>
<html ng-app="central">
<head>
  <meta charset="utf-8">
  <title>DevMountain Intern Project</title>
  <link rel="stylesheet" href="style.css">
</head>
<body ng-controller="mainController">

  <div class="mainParent">
    <div class="top">
      <img id="searchManacle" src="images/Icons/Search.svg" alt="">
      <input id="searchField" style="text-align: center" type="text"  name="" value="DevMountain">
      <img id="hamburger" src="images/Icons/Ham.svg" alt="">
    </div>

    <div ui-view></div>

    <div class="bottom">
  			<a ui-sref="home" ng-click="underline($event)" class="foot-link" id="friendsLink">View Friends</a>
  			<a ng-click="underline($event)" href="" class="foot-link" id="findLink">Find Friends</a>
  			<a ng-click="underline($event)" href="" class="foot-link" id="updateLink">Update Profile</a>
    </div>
  </div>

  <!-- Below are the scripts for JS -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.js"></script>
  <script type="text/javascript" src="app/app.js"></script>
  <script type="text/javascript" src="app/mainService.js"></script>
  <script type="text/javascript" src="app/mainCtrl.js"></script>

  <!-- Above are the scripts for JS -->
</body>
</html>
