<!DOCTYPE html>
<html ng-app="central">
<head>
  <meta charset="utf-8">
  <title>DevMountain Intern Project</title>
  <link rel="stylesheet" href="style.css">
</head>
<body ng-controller="mainController">

  <div class="mainParent">
    <div class="top">
      <img id="searchManacle" src="images/Icons/Search.svg" alt="">
      <input id="searchField" style="text-align: center" type="text"  name="" value="DevMountain">
      <img id="hamburger" src="images/Icons/Ham.svg" alt="">
    </div>
    <div class="main">
      <div class="leftSide">
        <div id="welcome">
          <p>Welcome to <a style="text-decoration: none; color: #00FFE9" href="#">DevMountain</a> Social</p>
          <p>Add Some Info So Friends Can Find You</p>
        </div>
        <form action="" id="initial">
  				<input type="text" id="fullname" name="full-name" placeholder="Full Name">
  				<input type="text" id="tagline" name="Tagline" placeholder="Tagline">
  				<input type="text" id="avatar-img" name="pimage" placeholder="Profile Image Url">
  				<textarea type="text" id="bio" name="bio-input" placeholder="Bio"></textarea>
  			</form>
        <button id="saveInitial">Save Changes</button>
      </div>
      <div class="rightSide">
        <div class="tri-parent">
          <div class="box" id="left"></div>
          <div class="box" id="right"></div>
          <div class="image"><img src="http://s3.foxmovies.com/foxmovies/production/films/18/images/gallery/avatar-neytiri-riding-gallery-image.jpg" width=400px height=340px z-index=2 alt="" /></div>
          <div id="large-icon"></div>
        </div>
      </div>
    </div>
    <div class="bottom">
  			<a ng-click="underline()" href="" class="foot-link" id="friendsLink">View Friends</a>
  			<a ng-click="underline()" href="" class="foot-link" id="findLink">Find Friends</a>
  			<a ng-click="underline()" href="" class="foot-link" id="updateLink">Update Profile</a>
    </div>
  </div>

  <!-- Below are the scripts for JS -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
  <script type="text/javascript" src="app/app.js"></script>
  <script type="text/javascript" src="app/mainService.js"></script>
  <script type="text/javascript" src="app/mainCtrl.js"></script>
  <!-- Above are the scripts for JS -->
</body>
</html>
