* {
  z-index: 2;
}
body {
  width: 60vw;
  height: 60vh;
  margin: auto;
  z-index: 1;
}
.top {
  width:100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
input {
  font-size: 32px;
  text-align: left;
  border: 2px solid lightgray;
}
#searchField {
  border: 0px solid;
}
.main {
  height: 750px;
  width: 1000px;
  margin: auto;
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-wrap: wrap;
}
.bottom {
  width: 70%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  font-size: 24px;
  font-family: sans-serif;
  height: 100px;
  font-weight: bolder;
}
a {
  color: gray;
  text-decoration: none;
}
.leftSide {
  width: 50%;
  height: 75%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.rightSide {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: -1;
}
.tri-parent {
  display: flex;
  width: 0px;
  height: 500px;
  justify-content: center;
  /* align-items: center; */
  margin: auto;
  position: relative;
  transform: rotate(190deg);
}
.box {
  width: 480px;
  height: 180px;
  background-color: white;
  position: absolute;
  z-index: 5;
  top:350px;
}
#left {
  transform: rotate(60deg);
  right: -70px;
  bottom: 140px;
  z-index: -1;
}
#right {
  transform: rotate(300deg);
  left: -70px;
  bottom: 140px;
}
#bottom {
  height: 50px;
  /*top:170px;*/
  text-decoration: none;
  color: #B6B6B6;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  font-weight: bold;
  border-bottom: 6px solid transparent;
  transition: all .4s;
}
.image {
  position: absolute;
  top: 210px;
  z-index: -2;
  opacity: .5;
  transform: rotate(180deg);
}
#large-icon {
  width: auto;
  height: auto;
  border-top: 200px solid transparent;
  border-right: 350px solid #00FFE9;
  border-bottom: 200px solid transparent;
  transform: rotate(70deg);
  position: absolute;
  z-index: 5;
  top: -38px;
  right: -136px;
}
#initial{
  height: 60%;
  width: 100%;
  margin: 10px;
  /*background-color: red;*/
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
#welcome{
  /*background-color: lightpink;*/
  height: 10%;
  width: 100%;
  margin: 10px;
  text-align: center;
  line-height: 4px;
  font-size: 20px;
  font-family: sans-serif;
}
#bio {
  height: 50%;
  width: 78%;
  font-size: 34px;
  font-family: sans-serif;
  border: 2px solid lightgray;
}
#saveInitial{
  height: 50px;
  width: 77%;
  background-color: #00FFE9;
  font-size: 24px;
  font-family: serif;
  color: #B6B6B6;
  font-weight: bold;
  border: 0px solid;
  margin: auto;
}
.foot-link {
  border-bottom: 6px solid transparent;
  transition: all .3s;
}
.section-underline {
  border-bottom: 6px solid #00FFE9;
}
